@model EFShopMeYeuBe.Models.HoaDon

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaHd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaHd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayLapHd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayLapHd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKhNavigation.TenKh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhNavigation.TenKh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNvNavigation.TenNv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNvNavigation.TenNv)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" name="id" value="@Model.MaHd" />
        <input type="hidden" asp-for="MaHd" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
