@model EFShopMeYeuBe.Models.HoaDon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaHd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaHd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayLapHd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayLapHd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKhNavigation.TenKh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhNavigation.TenKh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNvNavigation.TenNv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNvNavigation.TenNv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaHd">Edit</a> |
    <a asp-action="Index" asp-controller="ChiTietHoaDons" asp-route-id="@Model?.MaHd">Chi tiết hóa đơn</a> |
    <a asp-action="Index">Back to List</a>
</div>
