@model IEnumerable<EFShopMeYeuBe.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="post">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaHd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayLapHd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKhNavigation.TenKh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNvNavigation.TenNv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.Count(); i++)
    {
        var item = Model.ElementAt(i);
        <tr>
            <td>
                <input type="hidden" name="[@i].@Html.DisplayNameFor(model => model.MaHd)" value="@item.MaHd" />
                @item.MaHd
            </td>
            <td>
                <input type="hidden" name="[@i].@Html.DisplayNameFor(model => model.NgayLapHd)" value="@item.NgayLapHd" />
                @item.NgayLapHd
            </td>
            <td>
                <input type="hidden" name="[@i].@Html.DisplayNameFor(model => model.MaKh)" value="@item.MaKh" />
                @item.MaKhNavigation.TenKh
            </td>
            <td>
                <input type="hidden" name="[@i].@Html.DisplayNameFor(model => model.MaNv)" value="@item.MaNv" />
                @item.MaNvNavigation.TenNv
            </td>
         <!--  <td>
                @Html.DisplayFor(modelItem => item.NgayLapHd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhNavigation.TenKh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNvNavigation.TenNv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHd">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHd">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHd">Delete</a>
            </td>  -->  
        </tr>

    }
    </tbody>
</table>
    <button type="submit" >
        Send model to controller
    </button>   
</form>
