@model EFShopMeYeuBe.Models.ChiTietHoaDon

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChiTietHoaDon</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChiTietSanPham.MaSpNavigation.TenSp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChiTietSanPham.MaSpNavigation.TenSp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLban)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLban)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChiTietSanPham.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChiTietSanPham.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHdNavigation.MaHd)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaHd" />
        <input type="hidden" asp-for="MaSp" />
        <input type="hidden" asp-for="Size" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
