@model IEnumerable<EFShopMeYeuBe.Models.KhachHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenKh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nskh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChiKh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdtkh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nskh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiKh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdtkh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaKh">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaKh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaKh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
