@model EFShopMeYeuBe.Models.NhaCungCap

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NhaCungCap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNcc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNcc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdtncc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdtncc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChiNcc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChiNcc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeLl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeLl)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" name="id" value="@Model.MaNcc" />
        <input type="hidden" asp-for="MaNcc" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
