@model EFShopMeYeuBe.Models.NhaCungCap

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NhaCungCap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNcc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNcc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdtncc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdtncc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChiNcc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChiNcc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeLl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeLl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaNcc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
