@model IEnumerable<EFShopMeYeuBe.Models.ChiTietSanPham>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaSpNavigation.TenSp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSpNavigation.MaSp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongTheoSize)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSpNavigation.TenSp)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSpNavigation.MaSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTheoSize)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { masp=item.MaSp,size = item.Size }) |
                @Html.ActionLink("Details", "Details", new {  masp=item.MaSp,size = item.Size  }) |
                    @Html.ActionLink("Delete", "Delete", new { masp=item.MaSp,size = item.Size })
            </td>
        </tr>
}
    </tbody>
</table>
